@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
  padding: 60px 0px 0px 0px;
  max-width: 1080px;
  height: 500px;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h1,
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h2,
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h3,
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4,
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h5,
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h6 {
  line-height: 1.375em;
  color: #ffffff;
  margin: 0.1em 0;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h1 {
  font-size: 38px;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h2 {
  font-size: 32.3px;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h3 {
  font-size: 26.6px;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4 {
  font-size: 22.8px;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h5 {
  font-size: 19px;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h6 {
  font-size: 15.2px;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper p {
  color: #000000;
  margin: 1em 0;
  font-size: 2.5em;
  font-family: Open Sans;
  font-weight: 500;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-hero-buttons {
  margin-top: 3em;
  padding-bottom: 0.2em;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-hero-buttons .so-widget-sow-button {
  display: inline-block;
  margin: 3px 6px 0;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-hero-default-e0b0cfce84d3 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}