.so-widget-sow-button-atom-aec89dc44b58 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  font-size: 1em;
  padding: 1em 2em;
  background: #e21433;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b31028), color-stop(1, #e21433));
  background: -ms-linear-gradient(bottom, #b31028, #e21433);
  background: -moz-linear-gradient(center bottom, #b31028 0%, #e21433 100%);
  background: -o-linear-gradient(#e21433, #b31028);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e21433', endColorstr='#b31028', GradientType=0);
  border: 1px solid;
  border-color: #a50f25 #9c0e23 #8e0d20 #9c0e23;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-aec89dc44b58 .ow-button-base a:visited,
.so-widget-sow-button-atom-aec89dc44b58 .ow-button-base a:active,
.so-widget-sow-button-atom-aec89dc44b58 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-aec89dc44b58 .ow-button-base a.ow-button-hover:hover {
  background: #ea1636;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bd112b), color-stop(1, #ea1636));
  background: -ms-linear-gradient(bottom, #bd112b, #ea1636);
  background: -moz-linear-gradient(center bottom, #bd112b 0%, #ea1636 100%);
  background: -o-linear-gradient(#ea1636, #bd112b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea1636', endColorstr='#bd112b', GradientType=0);
  border-color: #ae0f27 #a50f25 #970d22 #a50f25;
  color: #ffffff;
}